img {
    max-width:100%;
}

body {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 15px;
    max-width: 800px;
    margin: 0;
}

@font-face {
    font-family: Redaction20;
    src: url(Redaction20.otf);
}

@font-face {
    font-family: Redaction20Italic;
    src: url(Redaction20Italic.otf);
}

.h1 {
    font-family: Redaction20;
    color: blue;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

.p1 {
    font-family: Redaction20;
    color: blue;
    text-align: justify;
}

.p2 {
    font-family: Redaction20Italic;
    color: blue;
}

a:hover {
    color: blue;
}

a:visited {
    color: blue;
}

.details {
    padding-bottom: 20px;
}