img {
    max-width:100%;
}

body {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 15px;
    max-width: 800px;
    margin: 0;

    background-image: url(Sacha_Sunbeam_Ratio.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: Redaction20;
    src: url(Redaction20.otf);
}

@font-face {
    font-family: Redaction20Italic;
    src: url(Redaction20Italic.otf);
}

.h1 {
    font-family: Redaction20;
    color: blue;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

.p1 {
    font-family: Redaction20;
    color: blue;
    text-align: justify;
    margin: 0;
}

.p2 {
    font-family: Redaction20Italic;
    color: blue;
    margin: 0;
}

.audio {
    min-width: 500px;
    max-height: 20px;
    margin: 10px;
    background-color: white;
}

.indent {
    padding-left: 20px;
}

a:hover {
    color: blue;
}

a:visited {
    color: blue;
}

.details {
    padding-bottom: 20px;
}