* {
    box-sizing: border-box;
}

body {
    background-image: url(parquet4.jpeg);
    background-repeat:repeat-y;
    background-size: cover;
}

@font-face {
    font-family: fortalesia;
    src: url(fortalesia.otf);
}

.script {
    font-family: fortalesia;
    font-size: 12vw;
    line-height: 0em;
    color: rgb(255, 255, 255);
    text-shadow: rgba(255,255,255,0.9) 0px 0px 20px; 
}

.smalltext {
    padding-left: 50px;
    color: rgb(255, 255, 255);
    text-shadow: rgba(255,255,255,0.9) 0px 0px 20px; 
}

a:link {
    color: rgb(255, 255, 255);
}

a:visited{
    color: rgb(255, 255, 255);
}

a:hover{
    color: rgb(255, 255, 255);
}

a:active{
    color: rgb(255, 255, 255);
}

.player {
    width: 100%;
    height: auto;
    padding-right: 50px;

    display: flex;
    flex-direction: row-reverse;
}

@media screen and (max-width:900px) {

.player {
    flex-direction: row;
    justify-content: center;
    padding-right: 0;
}

}